<div class="incremental">
<ng-container>
	<div class="row">
		<div class="col-xl-6 col-md-12">
			<h3>
				Item + 1
			</h3>
		</div>
		<div class="col-xl-6 col-md-12 text-align-right">
			<button class="btn-remover">
			<i class="fas fa-times"></i>
				Remover Item
			</button>
		</div>
		<div class="col-xl-6 col-md-12">
			<input type="text" placeholder="Nome do Item">
		</div>
		<div class="col-xl-6 col-md-12	">
			<input type="textarea" placeholder="Descrição do Item">
		</div>
	</div>
</ng-container>
</div>
<div class="col-xl-12 text-align-right">
	<button class="btn">
		<i class="fas fa-plus"></i>
		Adicionar Item
	</button>
</div>
