<div class="incremental">
	<form [formGroup]="itemsForm">
		<ng-container formArrayName="items"
		*ngFor="let item of itemsLista.controls ; let index = index">
			<ng-container [formGroup]="item">
				<div class="row">
					<div class="col-xl-6 col-md-12">
						<h3>
							Item {{ index + 1}}
						</h3>
					</div>
					<div class="col-xl-6 col-md-12 text-align-right">
						<button (click)="removeItem(index)" class="btn btn-remover">
							<i class="fas fa-times"></i>
							Remover Item
						</button>
					</div>
					<div class="col-xl-6 col-md-12">
						<input type="text" placeholder="Nome do Item">
					</div>
					<div class="col-xl-6 col-md-12	">
						<input type="textarea" placeholder="Descrição do Item">
					</div>
				</div>
			</ng-container>
		</ng-container>
	</form>
</div>

<div class="col-xl-12 text-align-right">
	<button (click)="addItem()" class="btn">
		<i class="fas fa-plus"></i>
		Adicionar Item
	</button>
</div>
