for number in 12..32
	.text-size-{number}
		font-size number px

for i in 1..10
	.text-escala-cinza-{i}
		color lookup('escala-cinza-' + i)

for i in 1..4
	.text-verde-{i}
		color lookup('verde-' + i)

for i in 1..4
	.text-agua-verde-{i}
		color lookup('verde-agua-' + i)
