<form class="form-grid">
  <div class="row">
    <div class="col-xl-6 col-md-12">
      <input type="text" placeholder="Digite seu nome">
    </div>
    <div class="col-xl-6 col-md-12">
      <input type="text" placeholder="Email">
    </div>
    <div class="col-xl-6 col-md-12">
      <input type="password" placeholder="Senha">
    </div>
    <div class="col-xl-6 col-md-12">
      <input type="password" placeholder="Confirmar sua Senha">
    </div>
    <div class="col-xl-6">
      <p>
        Deseja receber email com novidades e informações dos nossos produtos
      </p>
    </div>
    <div class="col-xl-6 margin-auto">
      <input type="checkbox" id="aceitoReceberEmail">
      <label for="aceitoReceberEmail">Aceito</label>
    </div>
    <button class="btn btn-full"></button>
  </div>
</form>
