.btn
	background turqueza
	color escala-cinza-10
	padding 8px 30px
	margin 5px
	font-weight bolder
	cursor pointer
	border-radius 10px

	&:disabled
		background-color escala-cinza-8

	i
		margin 0 5px

.btn-right
	display table
	margin 10px 10px 10px auto

.btn-left
	display table
	margin 10px

.btn-center
	display table
	margin 10px auto

.btn-full
	display table
	text-align center
	width calc(100% - 20px)
	margin 10px

.btn-form
	margin 0

.btn-btn
	display table
	text-align center
	width calc(100% - 20px)
	margin 10px

.btn-remover
	background  transparent
	border solid 1.5px vermelho
	color vermelho
	font-size 14px
	padding 5px 15px

	&:hover
		background vermelho
		color escala-cinza-10
		border-color vermelho
