.btn-table
	font-size 14px
	color azul
	background escala-cinza-10
	cursor pointer
	padding 5px 10px
	border-radius 10px

.btn-table:hover
	color escala-cinza-10
	background azul

tr .btn-table-hide
	opacity 0
	transition 0.5s

tr:hover .btn-table-hide
	opacity 1
