button[type="submit"]
	background verde
	color escala-cinza-1
	padding 8px 15px
	cursor pointer
	border-radius 10px

button[type="submit"]:not(.btn-right):not(.btn-left):not(.btn-center):not(.btn-form)
	margin 5px auto 15px auto
