//Preto e branco
escala-cinza-1 = #ffffff
escala-cinza-2 = #f5f5f5
escala-cinza-3 = #e5e5e5
escala-cinza-4 = #d1d1d1
escala-cinza-5 = #b2b2b2
escala-cinza-6 = #999999
escala-cinza-7 = #808080
escala-cinza-8 = #666666
escala-cinza-9 = #4d4d4d
escala-cinza-10 = #333333
escala-cinza-11 = #1a1e24
escala-cinza-12 = #030c16
escala-cinza-13 = #000000

//Cores Padrões Bootstrap
vermelho = #ff3548
vermelho-escuro = #cc0001
verde = #009d25
turqueza = #2abbac
turqueza-escuro = #00695b
amarelo = #ffbb34
amarelo-escuro = #fe9003
amarelo-queimado = #f9c700
azul = #33b5e7
azul-escuro = #05009f
roxo = #aa66cd
roxo-escuro = #9a33cc

// Cores Próprias
azul-angular = #1976d2
vermelho-angular = #dd0031
