.header-section
	background escala-cinza-4
	padding-top 20px

	h1
		font-size 25px
		padding-bottom 10px

	ul
		display flex
		justify-content left
		border-bottom solid escala-cinza-7 2px
		width 100%
		margin-right -10px

		li
			padding 10px 14px
			list-style none
			font-size 15px
			cursor pointer
			margin 0 1px -1px
			background-image linear-gradient(to left, azul 0%, azul-escuro 100%)
			background-repeat no-repeat
			background-size 0% 3px
			background-position center 100%
			transition background-size 0.3s ease-in

			&:hover, &.active
				background-size 100% 3px

			i
				color azul-escuro
				padding-right 5px
				font-size 15px
