.form-grid
	.row:not(:first-child)
		padding-top 30px

	h2
		font-size 21px
		text-transform uppercase
		padding-bottom 5px

	h3
		font-size 18px
		text-transform uppercase
		padding-bottom 5px

	p
		font-size 18px
		color escala-cinza-8
		line-height 32px
		width: 100%;

	.margin-auto
		margin auto
