.incremental .row
  background-color escala-cinza-3
  padding 20px 10px
  margin-bottom 10px
  align-items center
  border solid 1px escala-cinza-4
  border-radius 15px
.incremental:nth-child(2) .btn-remover
  display none

