input[type="checkbox"]
		display none

		& + label
			display inline-table
			position relative
			cursor pointer
			padding 0px 10px 10px 25px
			min-height 20px

		& + label::after
			content ''
			position absolute
			width 15px
			height 15px
			left 2px
			top 0px
			border solid 1px
			border-radius 5px
			vertical-align bottom
			border-color escala-cinza-7

		&:checked + label::before
			content ''
			position absolute
			top 0px
			left 0px
			width 20px
			height 20px
			background-color verde-4
			background-image url(src/assets/img/template/checkbox/check.png)
			background-position center 20%
			background-size 60%
			background-repeat no-repeat
