input, select, textarea
  width 100%
  padding 8px 10px
  background escala-cinza-1
  border solid 1px escala-cinza-7
  border-radius 10px
  margin 5px auto auto auto

  &:disabled
    background escala-cinza-3
    color escala-cinza-7

textarea
  max-width 100%
  min-width 4em
